$color-body: #454545;
$border-color: #cccccc;
$primary: #345983;
$secondary: #022548;
$btn-border-radius: 6px;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-padding-y: 15px;
$btn-padding-x: 30px;
$spacers: (
	10: 10px,
	15: 15px,
	20: 20px,
	25: 25px,
	30: 30px,
	35: 35px,
	40: 40px,
	45: 45px,
	50: 50px,
	55: 55px,
	60: 60px,
	65: 65px,
	70: 70px,
	75: 75px,
	80: 80px,
	85: 85px,
);
@import "../lib/bootstrap/scss/bootstrap.scss";
@mixin lineNum($num) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $num;
	-webkit-box-orient: vertical;
}

body {
	font-family: "Lato", sans-serif;
	background: #fff;
	color: $color-body;
	@include media-breakpoint-down(md) {
		font-size: 14px;
	}
}

.wrapper {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	@include transition(0.3s all ease-in-out);
}

button {
	@include transition(0.3s all ease-in-out);
}

.svg {
	display: none;
}

svg {
	@include transition(0.3s all ease-in-out);
	path,
	rect {
		@include transition(0.3s all ease-in-out);
	}
}

.container {
	@include media-breakpoint-down(xl) {
		max-width: 94%;
	}
}

.btn {
	box-shadow: 0 3px 20px rgba(#000, 0.15);
	@include transition(0.3s all ease-in-out);
	@include media-breakpoint-down(lg) {
		padding: 10px 25px;
	}
	@include media-breakpoint-down(md) {
		font-size: 14px;
	}
}

.btn__outline {
	position: relative;
	display: inline-block;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 0;
		height: 100%;
		background: $primary;
		z-index: -1;
		@include transition(0.3s all ease-in-out);
	}
	&:hover {
		color: #fff;
		&::before {
			width: 100%;
		}
	}
}

.heading {
	color: $color-body;
	span {
		color: $secondary;
	}
	h2,
	h1 {
		font-size: 40px;
		margin-bottom: 0;
		font-weight: bold;
		@include media-breakpoint-down(xl) {
			font-size: 30px;
		}
		@include media-breakpoint-down(lg) {
			font-size: 25px;
		}
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
		&.side__heading {
			padding-left: 15px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 4px;
				height: 98%;
				background: $primary;
			}
		}
		&.bottom__heading {
			padding-left: 15px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -14px;
				transform: translate(-50%, 0);
				width: 112px;
				height: 4px;
				background: #fff;
			}
			&.line__color {
				&::before {
					background: $primary;
				}
			}
		}
	}
	.title__sm {
		color: $primary;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

.header {
	@include transition(0.3s all ease-in-out);
	padding: 30px 0;
	.top__header {
		padding-bottom: 30px;
		@include transition(0.3s all ease-in-out);
		.logo-brand {
			max-width: 151px;
			@include transition(0.3s all ease-in-out);
			img {
				width: 100%;
			}
		}
		.contact__info {
			font-size: 14px;
			& > div {
				&:not(:last-child) {
					margin-right: 60px;
				}
			}
		}
	}
	.navbar {
		padding: 0;
		.navbar-collapse {
			.navbar-nav {
				@include media-breakpoint-down(lg) {
					border: none !important;
				}
				.nav-item {
					@include media-breakpoint-down(lg) {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}
					.nav-link {
						padding-top: 30px;
						color: $color-body;
						position: relative;
						display: block;
						text-align: center;
						@include media-breakpoint-down(lg) {
							font-size: 22px;
							padding: 15px;
							border-radius: 6px;
							background: #fafafa;
							text-align: left;
						}
						@include media-breakpoint-down(md) {
							font-size: 16px;
						}
						&::before {
							position: absolute;
							content: "";
							top: 30px;
							right: 0;
							width: 1px;
							height: 25px;
							background: $border-color;
							@include media-breakpoint-down(lg) {
								display: none;
							}
						}
						&::after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 0;
							height: 3px;
							background: $primary;
							@include transition(0.3s all ease-in-out);
							@include media-breakpoint-down(lg) {
								content: "";
								position: absolute;
								top: 15px;
								right: 14px;
								left: auto;
								width: 34px !important;
								height: 34px;
								background-image: url(../images/arrow-long-link.svg);
								background-repeat: no-repeat;
								background-size: 34px;
								background-position: center;
								background-color: transparent;
							}
							@include media-breakpoint-down(md) {
								top: 11px;
								background-size: 26px;
							}
						}
						&:hover,
						&.active {
							&::after {
								width: 100%;
							}
							@include media-breakpoint-down(lg) {
								background: $secondary;
								color: #fff;
								&::after {
									background-color: transparent;
									filter: brightness(0) invert(1);
								}
							}
						}
					}
					&:last-child {
						.nav-link {
							padding-left: 2rem;
							text-align: right;
							@include media-breakpoint-down(xl) {
								padding-left: 1rem;
							}
							@include media-breakpoint-down(lg) {
								padding: 15px;
								text-align: left;
							}
							&::before {
								display: none;
							}
						}
					}
					&:first-child {
						.nav-link {
							padding-right: 2rem;
							text-align: left;
							@include media-breakpoint-down(xl) {
								padding-right: 1rem;
							}
							@include media-breakpoint-down(lg) {
								padding: 15px;
							}
						}
					}
					&:not(:last-child):not(:first-child) {
						.nav-link {
							padding: 30px 2rem 0;
							text-align: center;
							@include media-breakpoint-down(xl) {
								padding: 30px 1rem 0;
							}
							@include media-breakpoint-down(lg) {
								padding: 15px;
								text-align: left;
							}
						}
					}
				}
				.dropdown-menu {
					padding: 4px;
					border-radius: 6px;
					border: none;
					box-shadow: 0 3px 15px rgba(#000, 0.15);
					background: #fafafa;
					width: 12rem;
					white-space: normal;
					@include media-breakpoint-down(lg) {
						width: 100%;
						box-shadow: none;
						background: rgba($primary, 0.2);
					}
					li {
						&:not(:last-child) {
							margin-bottom: 5px;
						}
						.dropdown-item {
							padding: 5px;
							border-radius: 6px;
							font-size: 15px;
							white-space: normal;
							@include media-breakpoint-down(lg) {
								font-size: 18px;
							}
							@include media-breakpoint-down(md) {
								font-size: 15px;
							}
							&:hover {
								color: $secondary;
								background: rgba($secondary, 0.1);
							}
						}
					}
				}
				@media all and (min-width: 992px) {
					.dropdown-menu li {
						position: relative;
					}
					.nav-item .submenu {
						display: none;
						position: absolute;
						left: 100%;
						top: -7px;
					}
					.nav-item .submenu-left {
						right: 100%;
						left: auto;
					}
					.dropdown-menu > li:hover {
						background-color: #f1f1f1;
					}
					.dropdown-menu > li:hover > .submenu {
						display: block;
					}
				}
				@media (max-width: 991px) {
					.dropdown-menu .dropdown-menu {
						margin-left: 0.7rem;
						margin-right: 0.7rem;
						margin-bottom: 0.5rem;
					}
				}
			}
			@include media-breakpoint-down(lg) {
				position: fixed;
				top: 0;
				left: -120%;
				width: 450px;
				height: 100vh;
				background: #fff;
				overflow-y: auto;
				padding: 30px;
				box-shadow: 3px 0 15px rgba(#000, 0.15);
				z-index: 2;
				@include transition(0.3s all ease-in-out);
				&.show {
					left: 0;
				}
			}
			@include media-breakpoint-down(md) {
				width: 80%;
			}
		}
	}
	.navbar-toggler {
		@include transition(0.3s all ease-in-out);
		height: auto;
		position: absolute;
		top: 28px;
		right: 25px;
		padding: 0;
		margin: 0;
		z-index: 9;
		&:focus,
		&:active {
			outline: 0;
			box-shadow: none;
		}
		span {
			display: block;
			background-color: $secondary;
			height: 2px;
			width: 25px;
			margin-top: 6px;
			margin-bottom: 4px;
			@include transition(0.3s all ease-in-out);
		}
		&[aria-expanded="false"] {
			span {
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				position: relative;
				opacity: 1;
				&:nth-child(1),
				&:nth-child(3) {
					-webkit-transition: transform 0.35s ease-in-out;
					-moz-transition: transform 0.35s ease-in-out;
					-o-transition: transform 0.35s ease-in-out;
					transition: transform 0.35s ease-in-out;
				}
			}
		}
		&[aria-expanded="true"] {
			span {
				background-color: #fff;
				&:nth-child(1) {
					position: absolute;
					top: 12px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
					opacity: 0.9;
				}
				&:nth-child(2) {
					visibility: hidden;
					background-color: transparent;
				}
				&:nth-child(3) {
					position: absolute;
					top: 12px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
					opacity: 0.9;
				}
			}
		}
	}
	.overlay__header {
		position: fixed;
		top: 0;
		left: -120%;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.75);
		z-index: 1;
		@include transition(0.25s all ease-in-out);
		&.active {
			left: 0;
		}
	}
	&.on__scroll {
		background: #fff;
		box-shadow: 0 3px 15px rgba(#000, 0.15);
		padding: 15px 0;
		.navbar-toggler {
			top: 10px;
		}
		.top__header {
			padding-bottom: 15px;
			@include media-breakpoint-down(lg) {
				padding-bottom: 0;
			}
			.logo-brand {
				max-width: 120px;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					padding: 15px 0 0;
					&::before {
						top: 15px;
					}
				}
				&:not(:last-child):not(:first-child) {
					.nav-link {
						padding-top: 15px;
					}
				}
			}
		}
	}
}

[data-animation-in] {
	opacity: 0;
	@include transition(0.3s all ease-in-out);
}

.banner {
	.banner__item {
		min-height: 875px;
		padding: 50px 0;
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include media-breakpoint-down(lg) {
			min-height: 495px;
			padding-top: 130px;
		}
		@include media-breakpoint-down(md) {
			padding-top: 200px;
		}
	}
	.slick-arrow {
		z-index: 3;
		@include transition(0.3s all ease-in-out);
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
		&::before {
			content: "";
			width: 56px;
			height: 56px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			background: $primary;
			@include transition(0.3s all ease-in-out);
			@include media-breakpoint-down(xl) {
				width: 45px;
				height: 45px;
			}
		}
		&.slick-next {
			right: 5%;
			left: auto;
			&::before {
				content: url(../images/arrow-white.svg);
				margin-left: 2px;
			}
		}
		&.slick-prev {
			left: 5%;
			right: auto;
			&::before {
				content: url(../images/arrow-white.svg);
				transform: scale(-1, 1);
				transform-origin: center;
				margin-right: 2px;
			}
		}
	}
}

.about {
	.img {
		img {
			border-radius: 15px;
			box-shadow: 0 3px 20px rgba(#000, 0.15);
		}
		position: relative;
		.experience {
			position: absolute;
			z-index: 2;
			z-index: 2;
			bottom: -20px;
			right: 30px;
			border-radius: 15px;
			box-shadow: 0 3px 20px rgba(#000, 0.15);
			&::before {
				content: url(../images/experiences.png);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				pointer-events: none;
				z-index: -1;
			}
			.num {
				font-size: 60px;
				@include media-breakpoint-down(lg) {
					font-size: 50px;
				}
			}
		}
	}
}

.what {
	background: url(../images/what-bg.jpg) no-repeat center center/cover;
	position: relative;
	.shape__top {
		position: absolute;
		width: 256px;
		z-index: 1;
		top: 0;
		right: 0;
		pointer-events: none;
		img {
			transform: scale(-1, -1);
			transform-origin: center center;
		}
	}
	.shape__bottom {
		position: absolute;
		width: 256px;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.what__items {
		.slick-list {
			margin: 0 -15px;
		}
		.slick-slide {
			margin: 0 15px;
		}
		.slick-dots {
			bottom: -40px;
			li {
				width: auto;
				height: auto;
				button {
					width: 15px;
					height: 15px;
					background: rgba(#fff, 0.8);
					border-radius: 50%;
					&::before {
						content: "";
						width: 9px;
						height: 9px;
						position: absolute;
						top: 3px;
						left: 3px;
						background: $secondary;
						border-radius: 50%;
						opacity: 0;
						@include transition(0.3s all ease-in-out);
					}
				}
				&.slick-active {
					button {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		.what__item {
			background: #fff;
			border-radius: 15px;
			box-shadow: 0 3px 20px rgba(#000, 0.15);
			@include transition(0.3s all ease-in-out);
			& > div {
				position: relative;
				z-index: 2;
			}
			.icon {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					bottom: -9px;
					left: 28px;
					width: 45px;
					height: 45px;
					background: rgba($primary, 0.2);
					border-radius: 50%;
					z-index: 1;
					@include transition(0.3s all ease-in-out);
				}
				svg {
					width: 62px;
					height: 62px;
					path,
					rect {
						fill: $secondary;
					}
				}
			}
			.title {
				font-size: 22px;
				@include lineNum(2);
				min-height: 66px;
				@include media-breakpoint-down(xl) {
					font-size: 18px;
					min-height: 54px;
				}
				@include media-breakpoint-down(md) {
					font-size: 16px;
				}
			}
			.desc {
				@include lineNum(4);
				min-height: 96px;
			}
			a {
				@include transition(0.3s all ease-in-out);
			}
			&:hover {
				background: $primary;
				color: #fff;
				.icon {
					&::before {
						background: rgba(#fff, 0.2);
					}
					svg {
						path,
						rect {
							fill: #fff;
						}
					}
				}
				a {
					color: #fff;
					svg {
						transform: translateX(2px);
						path {
							stroke: #fff;
						}
					}
				}
			}
		}
	}
}

.clients {
	box-shadow: 0 3px 10px rgba(#000, 0.15);
	.slick-list {
		margin: 0 -5px;
	}
	.slick-slide {
		margin: 0 5px;
		text-align: center;
	}
	.slick-arrow {
		z-index: 3;
      top: 25%;
		@include transition(0.3s all ease-in-out);
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
		&::before {
			content: "";
			width: 56px;
			height: 56px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			@include transition(0.3s all ease-in-out);
			@include media-breakpoint-down(xl) {
				width: 45px;
				height: 45px;
			}
		}
		&.slick-next {
			right: -35px;
			left: auto;
			&::before {
				content: url(../images/color-arrow.svg);
				margin-left: 2px;
			}
		}
		&.slick-prev {
			left:  -35px;
			right: auto;
			&::before {
				content: url(../images/color-arrow.svg);
				transform: scale(-1, 1);
				transform-origin: center;
				margin-right: 2px;
			}
		}
	}
}

.products {
	.product__item {
		background: #fff;
		border-radius: 15px;
		box-shadow: 0 3px 20px rgba(#000, 0.15);
		@include transition(0.3s all ease-in-out);
		& > div {
			position: relative;
			z-index: 2;
		}
		.icon {
			position: relative;
			max-width: 73px;
			margin-right: 20px;
			&::before {
				content: "";
				position: absolute;
				bottom: -9px;
				left: 28px;
				width: 45px;
				height: 45px;
				background: rgba($primary, 0.2);
				border-radius: 50%;
				z-index: 1;
				@include transition(0.3s all ease-in-out);
			}
			svg {
				width: 62px;
				height: 62px;
				path,
				rect {
					fill: $secondary;
				}
			}
		}
		.title {
			font-size: 22px;
			@include lineNum(2);
			@include media-breakpoint-down(xl) {
				font-size: 18px;
			}
			@include media-breakpoint-down(md) {
				font-size: 16px;
			}
		}
		.desc {
			@include lineNum(2);
			min-height: 49px;
			@include media-breakpoint-down(md) {
				min-height: 47px;
			}
		}
		a {
			@include transition(0.3s all ease-in-out);
		}
		&:hover {
			background: $primary;
			color: #fff;
			.icon {
				&::before {
					background: rgba(#fff, 0.2);
				}
				svg {
					path,
					rect {
						fill: #fff;
					}
				}
			}
			a {
				color: #fff;
				svg {
					transform: translateX(2px);
					path {
						stroke: #fff;
					}
				}
			}
		}
	}
	.col-lg-4 {
		margin-bottom: 30px;
	}
}

.sectors {
	background: url(../images/sector-bg.jpg) no-repeat center center/cover;
	.sector__items {
		margin-top: 80px;
		@include media-breakpoint-down(lg) {
			margin-top: 60px;
		}
		.slick-list {
			margin: 0 -15px;
			padding-top: 70px;
		}
		.slick-slide {
			margin: 0 15px;
		}
		.slick-dots {
			bottom: -40px;
			li {
				width: auto;
				height: auto;
				button {
					width: 15px;
					height: 15px;
					background: rgba(#fff, 0.8);
					border-radius: 50%;
					&::before {
						content: "";
						width: 9px;
						height: 9px;
						position: absolute;
						top: 3px;
						left: 3px;
						background: $secondary;
						border-radius: 50%;
						opacity: 0;
						@include transition(0.3s all ease-in-out);
					}
				}
				&.slick-active {
					button {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		.sector__item {
			background: #fff;
			border-radius: 15px;
			box-shadow: 0 3px 20px rgba(#000, 0.15);
			@include transition(0.3s all ease-in-out);
			& > div {
				position: relative;
				z-index: 2;
			}
			.img {
				margin-top: -95px;
				img {
					width: 100%;
					border-radius: 10px;
					box-shadow: 0 3px 15px rgba(#000, 0.15);
				}
			}
			.title {
				font-size: 22px;
				@include lineNum(3);
				min-height: 99px;
				@include media-breakpoint-down(xl) {
					font-size: 18px;
					min-height: 59px;
				}
				@include media-breakpoint-down(md) {
					font-size: 16px;
					min-height: 48px;
				}
			}
			.desc {
				@include lineNum(2);
				min-height: 49px;
				@include media-breakpoint-down(md) {
					min-height: 47px;
				}
			}
			a {
				@include transition(0.3s all ease-in-out);
			}
			&:hover {
				background: $primary;
				color: #fff;
				a {
					color: #fff;
					svg {
						transform: translateX(2px);
						path {
							stroke: #fff;
						}
					}
				}
			}
		}
	}
}

.protfolio {
	.col-lg-4 {
		margin-bottom: 30px;
	}
	.protfolio__items {
		.protfolio__item {
			.img {
				border-radius: 15px;
				overflow: hidden;
				box-shadow: 0 3px 15px rgba(#000, 0.15);
				position: relative;
				img {
					width: 100%;
				}
				.data {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba($color-body, 0.5);
					color: #fff;
					padding: 20px;
					opacity: 0;
					@include transition(0.3s all ease-in-out);
					.title {
						font-size: 22px;
						margin-right: 5px;
						transform: translateX(-500px);
						@include transition(0.3s all ease-in-out);
						@include media-breakpoint-down(lg) {
							font-size: 18px;
						}
						@include media-breakpoint-down(md) {
							font-size: 16px;
						}
					}
					.arrow {
						text-align: right;
						width: 46px;
						height: 46px;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						background: $primary;
						border-radius: 50%;
						transform: translateX(500px);
						@include transition(0.3s all ease-in-out);
						@include media-breakpoint-down(md) {
							width: 35px;
							height: 35px;
						}
						img {
							width: 6px;
							height: auto;
						}
					}
				}
			}
			&:hover {
				.data {
					opacity: 1;
					.title,
					.arrow {
						transform: translateX(0);
					}
				}
			}
		}
	}
}

.get__quote {
	position: relative;
	z-index: 2;
	.container {
		background: #fff;
		border-radius: 15px;
		box-shadow: 0 0 20px rgba(#000, 0.15);
	}
	.heading {
		color: $secondary;
		span {
			color: $primary;
		}
	}
	.btn {
		padding: 15px 50px;
		&:hover {
			transform: translateY(-3px);
		}
	}
}

.footer {
	margin-top: -100px;
	position: relative;
	z-index: 1;
	background: url(../images/bg-footer.jpg) no-repeat center center/cover;
	padding-top: 180px;
	padding-bottom: 30px;
	color: #fff;
	@include media-breakpoint-down(lg) {
		margin-top: -140px;
	}
	.logo-brand {
		img {
			@include media-breakpoint-down(md) {
				width: 120px;
			}
		}
	}
	.links {
		&:not(:nth-child(2)) {
			flex: 0 0 22%;
			@include media-breakpoint-down(md) {
				flex: 0 0 100%;
			}
		}
		&:first-child {
			ul {
				li {
					@include media-breakpoint-down(md) {
						float: left;
						width: 50%;
					}
				}
			}
		}
		.title {
			font-size: 22px;
			@include media-breakpoint-down(lg) {
				font-size: 18px;
			}
			@include media-breakpoint-down(md) {
				font-size: 16px;
			}
		}
		ul {
			li {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				a {
					color: rgba(#fff, 0.8);
					display: flex;
					&::before {
						content: url(../images/arrow-link-footer.svg);
						padding-right: 5px;
						opacity: 0.8;
						@include transition(0.3s all ease-in-out);
					}
					&:hover {
						color: #fff;
						&::before {
							opacity: 1;
							transform: translateX(-2px);
						}
					}
				}
			}
			&.side__links {
				li {
					float: left;
					width: 50%;
				}
			}
		}
	}
}
